In [50]:
from simple_colors import *

name =input("enter your name:")
age=int(input("enter your age:"))
profession=input("enter your profession:")
a=blue(name)
print(f"Hi i am {name},My age is {age},My profession is {profession}")

Hi i am brijesh,My age is 20,My profession is student

In [11]:
student_dict = {"name":name,"age":age,"profession":profession}
ashik_details={"name":"ashik","age":20,"profession":"student"}

student_data=[]
student_data.append(student_dict)
student_data.append(ashik_details)
student_data

[{'name': 'brijesh', 'age': 21, 'profession': 'student'},
 {'name': 'ashik', 'age': 20, 'profession': 'student'}]

In [38]:
student_data[1]['name']

'ashik'

In [39]:
li = ["keerthi","sanjay"]

In [40]:
li.extend(student_data)

In [41]:
li

['keerthi',
 'sanjay',
 {'name': 'brijesh', 'age': 21, 'profession': 'student'},
 {'name': 'ashik', 'age': 20, 'profession': 'student'}]

In [46]:
studnet_int=[1,2,3,4,5]

In [47]:
for i in range(len(studnet_int)):
    print(i)

0
1
2
3
4

In [48]:
Li_st=[x+2 for x in range(len(studnet_int))]
print(Li_st)

[2, 3, 4, 5, 6]

In [51]:
import pandas as pd
data = pd.DataFrame(student_data)

In [52]:
data

      name  age profession
0  brijesh   21    student
1    ashik   20    student

In [53]:
data.to_csv("student_data.csv")

In [54]:
data.to_json("student_data.json")

In [57]:
import json
with open("student_data.json","w") as f:
    json.dump(student_data , f)

In [1]:
import json
with open("student_data.json","r") as f:
    a= json.load(f)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [84]:
a

[{'name': 'brijesh', 'age': 21, 'profession': 'student'},
 {'name': 'ashik', 'age': 20, 'profession': 'student'}]

In [85]:
[student['name'].upper() for student in a]

['BRIJESH', 'ASHIK']

In [86]:
[student['profession'].upper() for student in a]

['STUDENT', 'STUDENT']

In [100]:
def change_name_to_upper(student_a):
    for student in student_a:
        student["name"]=student['name'].upper()

    return student_a

In [99]:
st

[{'name': 'BRIJESH', 'age': 21, 'profession': 'student'},
 {'name': 'ASHIK', 'age': 20, 'profession': 'student'}]

In [101]:
change_name_to_upper(a)

[{'name': 'BRIJESH', 'age': 21, 'profession': 'student'},
 {'name': 'ASHIK', 'age': 20, 'profession': 'student'}]

In [98]:
a

[{'name': 'BRIJESH', 'age': 21, 'profession': 'student'},
 {'name': 'ASHIK', 'age': 20, 'profession': 'student'}]

In [15]:
class student:
    def __init__(self, name, age, mark):
        self.name = name
        self.age=age
        self.mark=mark
        print(f'created student details')
    def get_marks(self):
      return self.mark
    def map_grade(self):
        if self.mark >=90:
            return "A"
        elif self.mark>=80:
            return "B"
        else:
            return "C"

In [16]:
s1 = student("brijesh",20,92)

created student details

In [17]:
s1.get_marks()

92

In [19]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.32-cp39-cp39-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\brije\anaconda3\envs\nullclass\lib\site-packages (from sqlalchemy) (4.12.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.32-cp39-cp39-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 991.0 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.1 MB 1.6 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 2.3 MB/s eta 0:00:01
   --------- ------------------------------ 0.5/2.1 MB 2.5 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 2.7 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 3.0 MB/s eta 0:00:01
   ------------------ --------------------- 1.0/2.1 MB 2.8 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 2.8 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.9 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 2.9 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 2.6 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 2.7 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.8 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp39-cp39-win_amd64.whl (290 kB)
   ---------------------------------------- 0.0/290.8 kB ? eta -:--:--
   --------------- ------------------------ 112.6/290.8 kB 3.3 MB/s eta 0:00:01
   ------------------------------ --------- 225.3/290.8 kB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 290.8/290.8 kB 2.6 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.32

In [20]:
from sqlalchemy import create_engine